/* image */
img {
    border-radius: 50%;
    width: 200px; 
    height: 200px;
}
  
/*Text animation*/
.animate-charcter
{
  text-transform: uppercase;
  background-image: url(../images/mn-fall-colors2.jpg);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 9s linear;
  animation-duration: 100s;
  display: inline-block;
  font-size: 100px;
  padding-top: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* About App */
.about_app {
    text-align: center;
    font-size:14px;
	line-height: 22px;
	color: #0b0202;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

/* About content */
.info {
    color: #6e6e6e;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}

/* line divider */
.devicer {
    width: 40em;
    display: block;
    height: 3px;
    background-color: #4b4b4d;
    margin: 20px auto 40px;
  }

.signature {
    font-family: "Brush Script MT", cursive; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}