/* image */
img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/*Text animation*/
.animate-charcter {
    text-transform: uppercase;
    background-image: url(../images/mn-fall-colors2.jpg);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 9s linear;
    animation-duration: 100s;
    display: inline-block;
    font-size: 100px;
    padding-top: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* About App */
.about_app {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #0b0202;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(-45deg, #75282f, #953a38, #cb5947, #ff8c68, #ffcf87);
    animation: gradient 20s ease infinite;
    height: 25vh;
}

/* About content */
.info {
    color: #6e6e6e;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}

/* line divider */
.devicer {
    width: 40em;
    display: block;
    height: 3px;
    background-color: #4b4b4d;
    margin: 20px auto 40px;
}

/* Signature text */
.signature {
    font-family: "Brush Script MT", cursive;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

/* Search bar */
.card {

    border: none;
    background: #eee;

}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #b2f653;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ff8c68;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.search-icon:hover {
    color: #fff !important;
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s;
}


.card-inner:hover {
    transform: scale(1.1);
}

.mg-text span {
    font-size: 12px;
}

.mg-text {
    line-height: 14px;
}

/* About Authors */
.social-link {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(32 30 30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(54, 53, 53);
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: rgb(84, 62, 62);
    text-decoration: none;
    color: rgb(29, 20, 20);
}